.env
.env.*
*.env

**/__pycache__
**/*.py[cod]
.venv/
venv/

test_*.py
**/test_*.py
tests/
.pytest_cache/

.git
.gitignore
.github

*.log
logs/

*.tar
*.tar.gz
*.tgz
*.zip

Dockerfile*
.dockerignore
docker-compose*.yml
.hadolint.yaml
.flake8
*.md
LICENSE
